{% if app.request.query.get('exeption') is not null %}
        <div class="alert alert-{{app.request.query.get('type') }}" role="alert">
            {{app.request.query.get('exeption') }}
        </div>
{% endif %}