                       
<div class="card card-kpis">
     <div class="kpi-row">




   <a href="{{path('virtualstock')}}" id="box-carts" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">dashboard</i>
            <span class="title">Consulter le stock</span>
    <div class="kpi-description">
      <div class="subtitle"><button type="button" class="btn btn-link"><a href="{{path('virtualstock')}}">Link</a></button></div>
      <div class="value"></div>
    </div>
  </div>
  </a>            



  <div id="box-conversion-rate" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">edit</i>
            <span class="title">Modifier stock hattaa</span>
    <div class="kpi-description">
      <div class="subtitle">
<button type="button" class="btn btn-link"><a href="{{path('update_stock_hattaa')}}">Link</a></button></div>
      <div class="value"></div>
    </div>
  </div>
  </div>





 


              



  <div id="box-average-order" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">explore</i>
            <span class="title">exporter le stock</span>
    <div class="kpi-description">
      <div class="subtitle"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exportExcelModal">Export Excel</button></div>
      <div class="value"></div>
    </div>
  </div>
  </div>


              



  <div id="box-net-profit-visit" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">account_box</i>
            <span class="title">Marge nette par visiteur</span>
    <div class="kpi-description">
        <div class="subtitle"><button type="button" class="btn btn-link"  ><a href="{{path('getLogContent')}}">
  Logs </a>
</button></div>
      <div class="value"></div>
    </div>
  </div>
  </div>


          </div>

        <div class="kpi-refresh">
      <button class="refresh-kpis btn btn-primary" type="button">
        <i class="material-icons">refresh</i>
      </button>
    </div>
</div>
   
 

<!-- Export Excel Modal -->

{% set exportExcelModalId = 'exportExcelModal' %}
{% set exportExcelModalTitle = 'Exporter Excel' %}
{% set exportExcelModalBody = 'Veuillez indiquer quel stock à Exporter' %}
{% set exportExcelModalActionUrl1 = path('export_stock', {'type': 1}) %}
{% set exportExcelModalActionLabel1 = 'Exporter tous' %}
{% set exportExcelModalActionUrl2 = path('export_stock', {'type': 2}) %}
{% set exportExcelModalActionLabel2 = 'Exporter que stock hattaa' %}
{% set exportExcelModalCloseLabel = 'Exit' %}

<!-- Include Export Modal for All Stocks -->
{% include '@Modules/stockmanagement/views/templates/twig/layouts/popup.html.twig' with {
    modalId: exportExcelModalId,
    modalTitle: exportExcelModalTitle,
    modalBody: exportExcelModalBody,
    modalActionUrl: exportExcelModalActionUrl1,
    modalActionLabel: exportExcelModalActionLabel1,
    modalCloseLabel: exportExcelModalCloseLabel,
    modalActionUrl2: exportExcelModalActionUrl2,
    modalActionLabel2: exportExcelModalActionLabel2,
    modal: null,
} %}