                       
<div class="card card-kpis">
     <div class="kpi-row">




   <a href="{{path('virtualstock')}}" id="box-carts" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">shopping</i>
            <span class="title">Consulter le stock</span>
    <div class="kpi-description">
      <div class="subtitle"><button type="button" class="btn btn-link"><a href="{{path('virtualstock')}}">Link</a></button></div>
      <div class="value"></div>
    </div>
  </div>
  </a>            



  <div id="box-conversion-rate" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">assessment</i>
            <span class="title">Modifier stock hattaa</span>
    <div class="kpi-description">
      <div class="subtitle">
<button type="button" class="btn btn-link"><a href="{{path('update_stock_hattaa')}}">Link</a></button></div>
      <div class="value"></div>
    </div>
  </div>
  </div>





 


              



  <div id="box-average-order" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">account_balance_wallet</i>
            <span class="title">Panier moyen</span>
    <div class="kpi-description">
      <div class="subtitle">30 jours</div>
      <div class="value">5 264&nbsp;DA HT</div>
    </div>
  </div>
  </div>


              



  <div id="box-net-profit-visit" class="kpi-container box-stats">
  <div class="kpi-content -color1" data-original-title="" data-toggle="pstooltip">
          <i class="material-icons">account_box</i>
            <span class="title">Marge nette par visiteur</span>
    <div class="kpi-description">
      <div class="subtitle">30 jours</div>
      <div class="value">2 618&nbsp;DA</div>
    </div>
  </div>
  </div>


          </div>

        <div class="kpi-refresh">
      <button class="refresh-kpis btn btn-primary" type="button">
        <i class="material-icons">refresh</i>
      </button>
    </div>
</div>
   
  