{% extends '@PrestaShop/Admin/layout.html.twig'%}
{% block content %}
    {% include '@Modules/stockmanagement/views/templates/twig/layouts/navbar.html.twig' %}  
  {% include '@Modules/stockmanagement/views/templates/twig/layouts/alert.html.twig' %}  

     <div class="container" style="width:100%">
   
        <div class="row justify-content-center">
            <div class="col-md-6">
               <form id="uploadForm" action="{{ path('handle_upload') }}" method="POST" enctype="multipart/form-data">
                        <div class="alert alert-success" style="display:none" id ="alert"role="alert">
                            File uploaded successfully 
                        </div>
                        <div class="alert alert-warning" role="alert">
                            <strong>Warning:</strong> The current upload will overwrite the existing content of the <em>stock_hattaa</em> table.
                        </div>

                   
                        <div class="container mt-5">
                            <div class="form-group">
                                <label for="csvFileInput" class="form-label">Upload CSV File</label>
                                <input type="file" id="csvFileInput" accept=".csv" class="form-control-file">
                            </div>
                            <div class="form-group">
                                <label for="csvContent" class="form-label">CSV Content</label>
                                <textarea id="csvContent" name="content" rows="20" cols="80" class="form-control"></textarea>
                            </div>
                        </div>
                    <button type="submit" style="display:none" id="save" class="btn btn-primary mt-3">Upload File</button>
                </form>

            </div>
        </div>
        
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    $(document).ready(function() {
    $('#csvFileInput').on('change', function(event) {
        var file = event.target.files[0];
        if (file) {
            if (file.type !== 'text/csv') {
                alert('Please select a CSV file.');
                $('#csvFileInput').val(''); // Reset the file input
                return;
            }
             $('#alert').show('fade');
                $('#save').show('fade');
            var reader = new FileReader();
            reader.onload = function(e) {
                var content = e.target.result;
                $('#csvContent').val(content);
            };
            reader.readAsText(file);
        } else {
            alert('Please select a CSV file.');
        }
    });
});



    </script>
   
{% endblock %}

{% block stylesheet %}
 {{ parent() }}
    <link rel="stylesheet" href="{{ asset('stockmanagement/views/assets/stylesheet/custom.css') }}" />
      
{% endblock %}